@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');


body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #fedcc8;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: 0px;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  .sapreater {
    width: 100%;
    height: 5px;
    background-color: rgba(219, 213, 213, 0.4);
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Navbar */
  
  /* desktop view  */
  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(189, 184, 184, 0.443);
    padding: 3px;
    border-radius: 25px;
  }
  .desktop_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .desktop_nav_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 8px;
  }
  
  .desktop_nav_list {
    background-color: #2d112b;
    box-shadow: 2px 2px 0.5px #5a0030;
    border-radius: 20px;
    margin-right: 8px;
    padding: 8px;
    text-align: center;
  }
  
  .desktop_nav_icon {
    text-decoration: none;
    font-family: "Bungee Spice", sans-serif;
    font-size: medium;
    text-align: center;
  }
  
  /* mobile view */
  
  .mobile_nav {
    display: none;
    background-color: transparent;
    cursor: pointer;
    margin-right: 15px;
  }
  
  .mobile_icon {
    width: 2.75rem;
    height: 2rem;
    color: #f44c3a;
  }
  
  .mobile_icon[name="close-outline"] {
    display: none;
  }
  
  /* responsive Navbar view */
  
  @media (max-width: 51.25em) {
    .mobile_nav {
      display: block;
      z-index: 999;
      background-color: #2d2d2d;
      border-radius: 5px;
      box-shadow: 2px 2px #5a0030;
    }
  
    .desktop_nav {
      width: 100%;
      height: 100vh;
      background-color: #2d112b;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
  
      /* trasition for mobile */
  
      transform: translateX(100%);
      transition: all 0.5s linear;
  
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  
    .desktop_nav_bar {
      flex-direction: column;
      align-items: center;
    }
  
    .desktop_nav_list {
      margin-top: 20px;
      background-color: #2d2d2d;
      box-shadow: 2px 2px 0.5px #5a0030;
    }
  
    .active .desktop_nav {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  
    .active .mobile_nav .mobile_icon[name="close-outline"] {
      display: block;
    }
  
    .active .mobile_nav .mobile_icon[name="menu-outline"] {
      display: none;
    }
  }

/* main */


.team{
    padding: 50px 0;
}

.team-heading{
    text-align: center;
    margin-bottom: 50px;
}

.team-heading h1{
    font-family: 'Bungee Spice', sans-serif;
    font-size: 48px;
    color: #5A0030;
}

.members-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.members-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 50px);
    height: 370px;
    background-color: rgba(204, 195, 195, 0.4);
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 5px;
}

.members-image{
    margin-top: 10px;
    border-radius: 15px;
    height: 200px;
    width: 140px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 #2d112b;
}

.members-image img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.members-details{
    padding: 20px;
    text-align: center;
}

.members-details h2{
    font-family: 'Protest Guerrilla', sans-sarif;
    font-size: 24px;
    color: #5A0030;
    margin-bottom: 10px;
}

.members-details p{
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: #5A0030;
    margin-bottom: 20px;
}

.members-button{
    display: inline-block;
    background-color: #2d2d2d;
    box-shadow: 0 4px 8px 0 #5A0030;
    color: #F44C3A;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.members-container-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;

}

.members-button:hover {
    background-color: #2d112b;
}

@media (max-width: 1200px) {
    .members-card {
        width: calc(30% - 50px);
    }
}
@media (max-width: 1000px) {
    .members-card {
        width: calc(50% - 50px);
    }
}
@media (max-width: 768px) {
    .members-card{
        width: 100%;
    }
}

/* footer */
.footer {
  background-color: #2D112B;
  color: #fff;
  padding: 2rem 0;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 #5A0030;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  background-color: #FEDCC8;
  border-radius: 25px;
  width: 90px;
  height: 50px;
  text-align: center;

}

.footer-logo img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.64rem;
}

.footer-logo h1{
  text-align: center;
}

.footer-social-media {
  display: flex;
  align-items: center;
}

.footer-social-media h2 {
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #FEDCC8;
}

.footer-social-media a {
  color: #FEDCC8;
  font-size: 2rem;
  margin-right: 1rem;
  transition: transform 0.2s;
}

.footer-social-media a:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 870px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo,
  .footer-social-media {
    margin-top: 1rem;
  }

  .footer-logo img {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .footer-social-media h2 {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}